{% extends 'testing.html' %}
{% block content %}
{% if message %}
<div class="alert alert-danger">{{ message }}</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <center>
                <h1 style="color: #ffffff;">Diabetes Predictor</h1>
            </center>
            <div class="card card-body bg-dark" style="border: 2px solid black;color: #ffffff;">
                <div class="form-group">
                    <label for="Gender"><b>Gender</b></label>
                    <select id="gender" name="gender" style="border: 2px solid #000000; border-radius: 5px;">
                        <option value="Select option"></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>
                <br>
                <form id="diabetesForm" class="form-horizontal bg-dark" action="{{ url_for('diabetesPredictPage') }}"
                    method="POST">
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="pregnancies"
                            placeholder="Number of Pregnancies eg. 0">
                        <p><b>Number of times pregnant</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="glucose"
                            placeholder="Glucose (mg/dL) eg. 80">
                        <p><b>Plasma glucose concentration a 2 hours in an oral glucose tolerance test</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="bloodpressure"
                            placeholder="Blood Pressure (mmHg) eg. 80">
                        <p><b>Diastolic blood pressure (mm Hg)</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="skinthickness"
                            placeholder="Skin Thickness (mm) eg. 20">
                        <p><b>Triceps skin fold thickness (mm)</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="insulin"
                            placeholder="Insulin Level (IU/mL) eg. 80">
                        <p><b>2-Hour serum insulin (mu U/ml)</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="bmi"
                            placeholder="Body Mass Index (kg/m²) eg. 23.1">
                        <p><b>Body mass index (weight in kg/(height in m)^2)</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="dpf"
                            placeholder="Diabetes Pedigree Function eg. 0.52">
                        <p><b>Diabetes pedigree function</b></p>
                    </div>
                    <div class="form-group">
                        <input style="border: 2px solid black;" class="form-control" type="text" name="age"
                            placeholder="Age (years) eg. 34">
                        <p><b>Age (years)</b></p>
                    </div>
                    <input type="submit" class="btn btn-info btn-block" value="Predict" style="font-size: large;">
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("diabetesForm").addEventListener("submit", function (event) {
            if (!validateForm()) {
                event.preventDefault();
            }
        });
    });

    function validateNumericInput(inputId, fieldName) {
        var input = document.getElementsByName(inputId)[0];
        var value = input.value.trim();
        if (!/^\d+(\.\d+)?$/.test(value)) {
            alert("Please enter a valid numeric value for '" + fieldName + "'.");
            input.focus();
            return false;
        }
        return true;
    }

    function genderInput(inputId, fieldName) {
        var select = document.getElementById(inputId);
        var selectedIndex = select.selectedIndex;
        var value = select.options[selectedIndex].value.trim();
        if (value === "Select option") {
            alert("Please select a '" + fieldName + "'.");
            select.focus();
            return false;
        }
        return true;
    }

    function validateForm() {
        var fields = ["pregnancies", "glucose", "bloodpressure", "skinthickness", "insulin", "bmi", "dpf", "age"];

        for (var i = 0; i < fields.length; i++) {
            if (!genderInput("gender", "gender")) {
                return false;
            }
            if (!validateNumericInput(fields[i], fields[i])) {
                return false;
            }
        }
        return true;
    }
</script>
{% endblock %}