{% extends 'testing.html' %}
{% block content %}
<div class="container">
    <div class="row" style="margin-bottom: 125px;">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <center>
                <h1 style="color: #ffffff;">Kidney Disease Predictor</h1>
            </center>
            <div class="card card-body bg-dark" style="border: 1px solid black;color: #ffffff;">
                <form id="kidneyForm" class="form-horizontal bg-dark" action="{{ url_for('kidneyPredictPage') }}"
                    method="POST">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="age"
                                    placeholder="age">
                                <p><b>Age(numerical) in years</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="bp"
                                    placeholder="bp">
                                <p><b>Blood Pressure(numerical) in mm/Hg</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="al"
                                    placeholder="al">
                                <p><b>Albumin(nominal)-(0,1,2,3,4,5)</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="su"
                                    placeholder="su">
                                <p><b>Sugar(nominal)-(0,1,2,3,4,5)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="rbc"
                                    placeholder="rbc">
                                <p><b>Red Blood Cells(nominal)-(normal,abnormal)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="pc"
                                    placeholder="pc">
                                <p><b>Pus Cell (nominal)-(normal,abnormal)</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="pcc"
                                    placeholder="pcc">
                                <p><b>Pus Cell clumps(nominal)-(present,notpresent)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="ba"
                                    placeholder="ba">
                                <p><b>Bacteria(nominal)-(present,notpresent)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="bgr"
                                    placeholder="bgr">
                                <p><b>Blood Glucose Random(numerical) in mgs/dl</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="bu"
                                    placeholder="bu">
                                <p><b>Blood Urea(numerical) in mgs/dl</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="sc"
                                    placeholder="sc">
                                <p><b>Serum Creatinine(numerical) in mgs/dl</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="pot"
                                    placeholder="pot">
                                <p><b>Potassium(numerical) in mEq/L</b></p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="number" name="wc"
                                    placeholder="wc">
                                <p><b>White Blood Cell Count(numerical) in cells/cumm</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="htn"
                                    placeholder="htn">
                                <p><b>Hypertension(nominal)-(yes,no)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="dm"
                                    placeholder="dm">
                                <p><b>Diabetes Mellitus(nominal)-(yes,no)</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="cad"
                                    placeholder="cad">
                                <p><b>Coronary Artery Disease(nominal)-(yes,no)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="pe"
                                    placeholder="pe">
                                <p><b>Pedal Edema(nominal)-(yes,no)</b></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input style="border: 1px solid black;" class="form-control" type="text" name="ane"
                                    placeholder="ane">
                                <p><b>Anemia(nominal)-(yes,no)</b></p>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-info btn-block" value="Predict" style="font-size: large;">
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('kidneyForm').addEventListener('submit', function (event) {
            var fields = [
                { name: 'age', type: 'numeric', message: 'Please enter a valid numerical age.' },
                { name: 'bp', type: 'numeric', message: 'Please enter a valid numerical blood pressure.' },
                { name: 'al', type: 'nominal', options: ['0', '1', '2', '3', '4', '5'], message: 'Please enter a valid value for Albumin (0, 1, 2, 3, 4, 5).' },
                { name: 'su', type: 'nominal', options: ['0', '1', '2', '3', '4', '5'], message: 'Please enter a valid value for Sugar (0, 1, 2, 3, 4, 5).' },
                { name: 'rbc', type: 'nominal', options: ['normal', 'abnormal'], message: 'Please enter a valid value for Red Blood Cells (normal, abnormal).' },
                { name: 'pc', type: 'nominal', options: ['normal', 'abnormal'], message: 'Please enter a valid value for Pus Cells (normal, abnormal).' },
                { name: 'pcc', type: 'nominal', options: ['present', 'notpresent'], message: 'Please enter a valid value for Pus Cell clamps (present, notpresent).' },
                { name: 'ba', type: 'nominal', options: ['present', 'notpresent'], message: 'Please enter a valid value for Bacteria (present, notpresent).' },
                { name: 'bgr', type: 'numeric', message: 'Please enter a valid numerical Blood Glucose Random(numerical) in mgs/dl.' },
                { name: 'bu', type: 'numeric', message: 'Please enter a valid numerical Blood Urea(numerical) in mgs/dl.' },
                { name: 'sc', type: 'float', message: 'Please enter a valid numerical Serum Creatinine(numerical) in mgs/dl.' },
                { name: 'pot', type: 'float', message: 'Please enter a valid numerical Potassium(numerical) in mEq/L.' },
                { name: 'wc', type: 'numeric', message: 'Please enter a valid numerical White Blood Cell Count(numerical) in cells/cumm.' },
                { name: 'htn', type: 'nominal', options: ['yes', 'no'], message: 'Please enter a valid value for Hypertension(nominal)-(yes,no).' },
                { name: 'dm', type: 'nominal', options: ['yes', 'no'], message: 'Please enter a valid value for Diabetes Mellitus(nominal)-(yes,no).' },
                { name: 'cad', type: 'nominal', options: ['yes', 'no'], message: 'Please enter a valid value for Coronary Artery Disease(nominal)-(yes,no).' },
                { name: 'pe', type: 'nominal', options: ['yes', 'no'], message: 'Please enter a valid value for Pedal Edema(nominal)-(yes,no).' },
                { name: 'ane', type: 'nominal', options: ['yes', 'no'], message: 'Please enter a valid value for Anemia(nominal)-(yes,no).' }
            ];

            var valid = fields.every(function (field) {
                var input = document.getElementsByName(field.name)[0];

                if ((field.type === 'numeric' && !isNumeric(input.value)) ||
                    (field.type === 'float' && !isFloat(input.value)) ||
                    (field.type === 'nominal' && !isValidNominalValue(input, field.options))) {
                    alert(field.message);
                    return false;
                }
                return true;
            });

            if (!valid) {
                event.preventDefault();
            }
        });

        function isNumeric(value) {
            return /^\d+$/.test(value);
        }

        function isFloat(value) {
            return Number(value) == value && value % 1 !== 0;
        }

        function isValidNominalValue(input, validOptions) {
            var value = input.value.toLowerCase();
            if (value === "not present") {
                value = "notpresent";
                input.value = value;
            }
            // if (value === "normal") {
            //     value = "0";
            //     input.value = value;
            // }
            // if (value === "abnormal") {
            //     value = "1";
            //     input.value = value;
            // }
            return validOptions.includes(value);
        }
    });
</script>
{% endblock %}